* {
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

html,
body {
  margin: 0;
}

body {
  /* background-color: #282828; */
}

*:not(legend, label) + * {
  margin-top: 1.5em;
}

fieldset {
  padding: 1.5em;
}

h1,
legend {
  font-variant-caps: small-caps;
}

body,
.flash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flash {
  height: 3em;
  padding: 5em 0;
}
