* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
}

body {
  /* background-color: #282828; */
}

fieldset {
  padding: 1.5em;
}

h1,
legend {
  font-variant-caps: small-caps;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav,
nav > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.125em;

  div {
    justify-content: center;
    gap: 1em;

    & > * {
      margin: 1em 0;
    }
  }

  & > a {
    text-decoration: none;
  }
}

a:visited {
  color: unset;
}

li::marker {
  content: "";
}
