.chat {
  width: 100%;
}
.chat-box {
  background-color: #eee;
  border: 1px solid black;
  height: 150px;
  overflow-y: auto;
  padding: 0.5em;
}
.chat-box p {
  margin: 0;
}
.chat-box p + p {
  margin-top: 0.2em;
}
