.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  max-width: 100%;
}

.move-tree {
  display: flex;
  flex-direction: column;
  width: 0;
  min-width: 100%;
  max-height: 150px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

#action-buttons,
.controls-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
}

.controls-navbar {
  display: flex;
  gap: 0.25em;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}
