.shudan-goban {
  --shudan-board-border-width: 0.15em;
  --shudan-board-border-color: #ca933a;

  --shudan-board-background-color: #f1b458;
  --shudan-board-foreground-color: #5e2e0c;

  --shudan-black-background-color: #222;
  --shudan-black-foreground-color: #eee;

  --shudan-white-background-color: #eee;
  --shudan-white-foreground-color: #222;

  position: relative;
  border: var(--shudan-board-border-width) solid
    var(--shudan-board-border-color);
  color: var(--shudan-board-foreground-color);
}
.shudan-goban:not(.shudan-coordinates) {
  padding: 0.25em;
}
.shudan-goban-image {
  background: url("/static/images/board.png") var(--shudan-board-background-color);
}

.shudan-coordx span,
.shudan-coordy span {
  font-size: 0.6em;
}

.shudan-vertex div {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Board gradient */

.shudan-goban::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--shudan-board-border-width));
  left: calc(-1 * var(--shudan-board-border-width));
  bottom: calc(-1 * var(--shudan-board-border-width));
  right: calc(-1 * var(--shudan-board-border-width));
  background: linear-gradient(to bottom, rgba(234, 220, 192, 0.1), transparent),
    linear-gradient(to bottom, transparent, rgba(23, 10, 2, 0.05));
  pointer-events: none;
  z-index: 3;
}

/* Busy screen */

.shudan-goban.shudan-busy::after {
  animation: 2s linear -0.5s shudan-busy infinite;
  background-color: rgba(23, 10, 2, 0.1);
  background-image: linear-gradient(
    to right,
    transparent 30%,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 70%
  );
  background-size: 19em 100%;
  background-repeat: no-repeat;
  pointer-events: all;
}

@keyframes shudan-busy {
  from {
    background-position: -19em 0;
  }
  to {
    background-position: calc(100% + 19em) 0;
  }
}

/* Board grid */

.shudan-gridline,
.shudan-hoshi {
  fill: var(--shudan-board-foreground-color);
}

/* Stone render */

.shudan-vertex .shudan-stone {
  top: 0.04em;
  left: 0.04em;
  width: calc(100% - 0.08em);
  height: calc(100% - 0.08em);
}
.shudan-vertex.shudan-sign_0 .shudan-stone {
  pointer-events: none;
}
.shudan-vertex:not(.shudan-sign_0) .shudan-stone::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: rgba(23, 10, 2, 0.4);
  box-shadow: 0 0.1em 0.2em rgba(23, 10, 2, 0.4);
}
.shudan-vertex .shudan-inner {
  text-indent: -9999rem;
}
.shudan-vertex:not(.shudan-sign_0).shudan-dimmed .shudan-stone {
  opacity: 0.6;
}
.shudan-stone-image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.shudan-stone-image.shudan-sign_1 {
  background-image: url("/static/images/stone_black.svg");
}
.shudan-stone-image.shudan-sign_-1 {
  background-image: url("/static/images/stone_white.svg");
}

/* Fuzzy stone placement */

.shudan-vertex:not(.shudan-sign_0).shudan-animate .shudan-stone {
  transition: transform 0.2s;
}
.shudan-vertex:not(.shudan-sign_0).shudan-shift_1 .shudan-stone {
  transform: translate(-0.07em, 0);
}
.shudan-vertex:not(.shudan-sign_0).shudan-shift_2 .shudan-stone {
  transform: translate(0, -0.07em);
}
.shudan-vertex:not(.shudan-sign_0).shudan-shift_3 .shudan-stone {
  transform: translate(0.07em, 0);
}
.shudan-vertex:not(.shudan-sign_0).shudan-shift_4 .shudan-stone {
  transform: translate(0, 0.07em);
}
.shudan-vertex:not(.shudan-sign_0).shudan-shift_5 .shudan-stone {
  transform: translate(-0.04em, -0.04em);
}
.shudan-vertex:not(.shudan-sign_0).shudan-shift_6 .shudan-stone {
  transform: translate(0.04em, -0.04em);
}
.shudan-vertex:not(.shudan-sign_0).shudan-shift_7 .shudan-stone {
  transform: translate(0.04em, 0.04em);
}
.shudan-vertex:not(.shudan-sign_0).shudan-shift_8 .shudan-stone {
  transform: translate(-0.04em, 0.04em);
}

/* Markers */

.shudan-vertex .shudan-marker {
  left: 0.04em;
  top: 0.04em;
  width: calc(100% - 0.08em);
  height: calc(100% - 0.08em);
  text-align: center;
  fill: var(--shudan-board-background-color);
  stroke: var(--shudan-board-foreground-color);
  stroke-width: 0.07em;
  pointer-events: none;
}
.shudan-vertex.shudan-sign_1 .shudan-marker,
.shudan-vertex.shudan-sign_-1 .shudan-marker {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: none;
}
.shudan-vertex.shudan-sign_1 .shudan-marker {
  stroke: var(--shudan-black-foreground-color);
}
.shudan-vertex.shudan-sign_-1 .shudan-marker {
  stroke: var(--shudan-white-foreground-color);
}

.shudan-vertex.shudan-marker_point .shudan-marker {
  stroke: none;
  fill: var(--shudan-board-foreground-color);
}
.shudan-vertex.shudan-marker_point.shudan-sign_1 .shudan-marker {
  fill: var(--shudan-black-foreground-color);
}
.shudan-vertex.shudan-marker_point.shudan-sign_-1 .shudan-marker {
  fill: var(--shudan-white-foreground-color);
}

.shudan-vertex.shudan-marker_loader .shudan-marker {
  stroke-dasharray: 1em;
  animation: 1.5s linear 0s shudan-rotation infinite;
}

@keyframes shudan-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shudan-vertex.shudan-marker_label .shudan-marker {
  display: inline-block;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  max-width: 1.67em;
  max-height: 1.67em;
  overflow: hidden;
  background: var(--shudan-board-background-color);
  color: var(--shudan-board-foreground-color);
  font-size: 0.6em;
  line-height: 1.26;
  text-align: center;
  text-overflow: ellipsis;
  white-space: pre;
  transform: translate(-50%, -50%);
}
.shudan-vertex.shudan-marker_label.shudan-sign_1 .shudan-marker {
  background: transparent;
  color: var(--shudan-black-foreground-color);
}
.shudan-vertex.shudan-marker_label.shudan-sign_-1 .shudan-marker {
  background: transparent;
  color: var(--shudan-white-foreground-color);
}
.shudan-vertex.shudan-smalllabel .shudan-marker {
  max-height: 2.7em;
  max-width: 2.7em;
  font-size: 0.36em;
}

/* Ghost stones */

.shudan-vertex .shudan-ghost {
  left: 50%;
  top: 50%;
  width: 0.4em;
  height: 0.4em;
  opacity: 0.5;
  transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
}
.shudan-vertex .shudan-ghost::before {
  content: "";
  box-sizing: border-box;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.shudan-vertex.shudan-ghost_faint .shudan-ghost {
  opacity: 0.3;
}
.shudan-vertex.shudan-sign_0.shudan-ghost_1 .shudan-ghost::before,
.shudan-vertex.shudan-sign_0.shudan-ghost_-1 .shudan-ghost::before {
  display: block;
}
.shudan-vertex.shudan-ghost_1 .shudan-ghost::before {
  background: rgba(0, 0, 0, 0.8);
}
.shudan-vertex.shudan-ghost_-1 .shudan-ghost::before {
  background: white;
}
.shudan-vertex.shudan-ghost_good .shudan-ghost::before {
  background: #59a80f;
}
.shudan-vertex.shudan-ghost_interesting .shudan-ghost::before {
  background: #4886d5;
}
.shudan-vertex.shudan-ghost_doubtful .shudan-ghost::before {
  background: #92278f;
}
.shudan-vertex.shudan-ghost_bad .shudan-ghost::before {
  background: #f02311;
}

/* Paint map */

.shudan-vertex .shudan-paint {
  overflow: hidden;
}
.shudan-vertex .shudan-paint::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: var(--shudan-paint-opacity);
  box-shadow: var(--shudan-paint-box-shadow);
  background: transparent;
  border-radius: 0.2em;
}
.shudan-vertex.shudan-paint_1 .shudan-paint::before {
  background: var(--shudan-black-background-color);
}
.shudan-vertex.shudan-paint_-1 .shudan-paint::before {
  background: var(--shudan-white-background-color);
}
.shudan-vertex.shudan-paintedleft .shudan-paint::before {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.shudan-vertex.shudan-paintedright .shudan-paint::before {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.shudan-vertex.shudan-paintedtop .shudan-paint::before {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.shudan-vertex.shudan-paintedbottom .shudan-paint::before {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Heat map */

.shudan-vertex .shudan-heat {
  top: 50%;
  left: 50%;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.5s,
    box-shadow 0.5s;
}
.shudan-vertex.shudan-heat_9 .shudan-heat {
  background: #59a80f;
  box-shadow: 0 0 1em 1em #59a80f;
  opacity: 0.8;
}
.shudan-vertex.shudan-heat_8 .shudan-heat {
  background: #59a80f;
  box-shadow: 0 0 1em 0.9em #59a80f;
  opacity: 0.7;
}
.shudan-vertex.shudan-heat_7 .shudan-heat {
  background: #4886d5;
  box-shadow: 0 0 1em 0.75em #4886d5;
  opacity: 0.8;
}
.shudan-vertex.shudan-heat_6 .shudan-heat {
  background: #4886d5;
  box-shadow: 0 0 1em 0.6em #4886d5;
  opacity: 0.8;
}
.shudan-vertex.shudan-heat_5 .shudan-heat {
  background: #4886d5;
  box-shadow: 0 0 0.9em 0.55em #4886d5;
  opacity: 0.7;
}
.shudan-vertex.shudan-heat_4 .shudan-heat {
  background: #92278f;
  box-shadow: 0 0 0.85em 0.5em #92278f;
  opacity: 0.8;
}
.shudan-vertex.shudan-heat_3 .shudan-heat {
  background: #92278f;
  box-shadow: 0 0 0.8em 0.45em #92278f;
  opacity: 0.7;
}
.shudan-vertex.shudan-heat_2 .shudan-heat {
  background: #f02311;
  box-shadow: 0 0 0.75em 0.4em #f02311;
  opacity: 0.8;
}
.shudan-vertex.shudan-heat_1 .shudan-heat {
  background: #f02311;
  box-shadow: 0 0 0.75em 0.4em #f02311;
  opacity: 0.7;
}

.shudan-vertex .shudan-heatlabel {
  display: inline-block;
  height: auto;
  top: 50%;
  left: 50%;
  overflow: hidden;
  color: white;
  font-size: 0.36em;
  line-height: 1.26;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 0.1em 0.3em black;
  white-space: pre;
  opacity: 0.9;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Selection */

.shudan-vertex .shudan-selection {
  box-sizing: border-box;
  border: 0.1em solid #0082f0;
  border-radius: 0.2em;
  background: rgba(0, 130, 240, 0.2);
}
.shudan-vertex.shudan-selectedleft .shudan-selection {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.shudan-vertex.shudan-selectedright .shudan-selection {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.shudan-vertex.shudan-selectedtop .shudan-selection {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.shudan-vertex.shudan-selectedbottom .shudan-selection {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Lines & arrows */

.shudan-line,
.shudan-arrow {
  fill: none;
  stroke: var(--shudan-board-foreground-color);
  stroke-width: 0.11em;
}
