{% macro nav_bar() %}
    <div id="board-nav" class="controls-navbar">
        <button id="start-btn" title="Go to start (Home)" disabled>⏮</button>
        <button id="back-btn" title="Back (Left)" disabled>⏴</button>
        <span id="move-counter" style="min-width: 7ch; text-align: center">0 / 0</span>
        <button id="forward-btn" title="Forward (Right)" disabled>⏵</button>
        <button id="end-btn" title="Go to latest (End)" disabled>⏭</button>
    </div>
{% endmacro %}
{% macro action_buttons() %}
    <button id="pass-btn">Pass</button>
    <button id="reset-btn">Reset</button>
{% endmacro %}
