{% extends "base.html" %}
{% block title %}Game - Seki{% endblock %}
{% block og %}
<meta property="og:site_name" content="Seki">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:description" content="{{ og_description }}">
{% endblock %}
{% block content %}
    <div class="game-page">
        {% if !is_creator && !is_private && has_open_slot && !is_player %}
            <form action="/games/{{ game_id }}/join" method="post">
                <button type="submit">Join Game</button>
            </form>
        {% endif %}
        <div id="game" class="game-page-body"
             data-props="{{ game_props }}"
             data-game-id="{{ game_id }}"
             data-chat-log="{{ chat_log_json }}"></div>
        <div id="game-error"></div>
    </div>
{% endblock %}
