{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/go.css">
    <script src="/static/dist/bundle.js" type="module" defer></script>
{% endblock %}
{% block content %}
    <pre>
 debug
 game: {{ game_id }}
 player: {{ player_name }} ({% if player_stone == 1 %}Black{% else if player_stone == -1 %}White{% else %}Spectator{% endif %})
 stage: {{ stage }}
</pre>
    <div id="game"
         data-game-id="{{ game_id }}"
         data-player-id="{{ player_token }}"
         data-player-name="{{ player_name }}"
         data-player-stone="{{ player_stone }}"
         data-board-cols="{{ board_cols }}"
         data-board-rows="{{ board_rows }}">
        <style>
    #game {
      margin: 1em;
    }
        </style>
        <div id="goban"></div>
        <div id="status"></div>
        <div id="captures"></div>
        <!-- Undo Controls -->
        <div id="undo-controls">
            <button id="request-undo-btn" style="display: none;">Request Undo</button>
            <div id="undo-notification" style="display: none;"></div>
            <div id="undo-response-controls" style="display: none;">
                <p>Opponent has requested to undo their last move.</p>
                <button id="accept-undo-btn">Accept</button>
                <button id="reject-undo-btn">Reject</button>
            </div>
        </div>
    </div>
    <div id="game-error"></div>
    <div id="chat" class="chat">
        <style>
  .chat {
    margin: 1em;
  }
  .chat-box {
    background-color: #eee;
    border: 1px solid black;
    height: 150px;
    overflow-y: auto;
    padding: 0.5em;
  }
  .chat-box p {
    margin: 0;
  }
  .chat-box p + p {
    margin-top: 0.2em;
  }
        </style>
        {% if !is_creator && !is_private && has_open_slot && !is_player %}
            <form action="/games/{{ game_id }}/join" method="post">
                <button type="submit">Join Game</button>
            </form>
        {% endif %}
        <div id="chat-box" class="chat-box" data-chat-log="{{ chat_log_json }}"></div>
        <form id="chat-form">
            <input type="text"
                   id="chat-input"
                   placeholder="Say something..."
                   autocomplete="off" />
            <button type="submit">Send</button>
        </form>
    </div>
{% endblock %}
