* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

h1 {
  font-variant-caps: small-caps;
}

body,
.flash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flash {
  height: 3em;
  padding: 5em 0;
}

.chat-box {
  border: 1px solid black;
  height: 150px;
  min-width: 400px;
  overflow-y: auto;
  margin: 1em;
}
