* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  /* background-color: #282828; */
}

h1 {
  font-variant-caps: small-caps;
}

body,
.flash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flash {
  height: 3em;
  padding: 5em 0;
}
